.tasks-area {
    display: flex;
    width: 100%;
    border-left: none;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px;
    border-radius: 4px;
    background: #EEEDED;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: fit-content;
    max-height: calc(100vh - 238px);
    .tasks-header {
        position: relative;
        color: #1F3C88;
        font-family: inherit;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        h1 {
            color: #1F3C88;
            padding: 0;
            margin: 0;
            font-family: inherit;
            font-size: 24px;
            font-weight: bold;
            left: calc(50% - 25px);
        }
    }
}

.subject {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-shadow: none;
    border-top: 1px solid #1F3C88;
    &:hover {
        .buttons {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }
    h1 {
        padding: 10px;
        font-family: inherit;
        font-size: 20px;
        text-wrap: wrap;
        text-align: center;
        color: #070D59;
    }
    .subject-title {
        width: 150px;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        opacity: 0;
        transition: opacity 0.3s;
        justify-content: center;
        gap: 6px;
        .delete-button {
            background: none;
            width: fit-content;
            padding: 0;
            margin: 0;
            margin-right: 14px;
            svg {
                fill: #7a0000;
                &:hover {
                    fill: #f70000;
                    cursor: pointer;
                }
            }
        }
        .edit-button {
            background: none;
            width: fit-content;
            padding: 0;
            margin: 0;
            svg {
                fill: #058432;
                &:hover {
                    fill: #36e047;
                    cursor: pointer;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.create-subject {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    box-shadow: none;
    border-top: 2px solid white;
    .new-subject-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
        width: fit-content;
        height: fit-content;
        margin: 6px 14px;
        padding: 7px 5px;
        background: none;
        border: none;
        color: #0072ff;
        font-size: 16px;
        font-family: inherit;
        border-radius: 4px;
        svg {
            fill: #0072ff;
        }
        &:hover {
            cursor: pointer;
            color: #0052b6;
            svg {
                fill: #0052b6;
            }
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 300px;
        height: fit-content;
        background: none;
        border: none;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        h1 {
            font-size: 16px;
        }
        label {
            display: flex;
            flex-direction: row;
            gap: 6px;
            font-family: inherit;
            font-size: 14px;
            width: fit-content;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            box-sizing: border-box;
            margin: 10px;
            button {
                display: flex;
                padding: 4px;
                margin: 0;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: fit-content;
                border: none;
                border-radius: 4px;
                background: #ffffff;
                color: #1F3C88;
                font-weight: bold;
                box-sizing: border-box;
                box-shadow: 1.5px 1.5px 2px 0.5px #070D59, -0.5px -0.5px #070D59;
                &:hover {
                    background: #CEDDEF;
                    cursor: pointer;
                }
            }
        }
    }
}