.tasks-area {
    display: flex;
    width: 100%;
    border-left: none;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px;
    border-radius: 4px;
    background: #EEEDED;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: fit-content;
    max-height: calc(100vh - 257px);
    .tasks-header {
        position: relative;
        color: #1F3C88;
        font-family: inherit;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        h1 {
            color: #1F3C88;
            padding: 0;
            margin: 0;
            font-family: inherit;
            font-size: 24px;
            font-weight: bold;
            left: calc(50% - 25px);
        }
    }
    .create-subject {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        box-shadow: none;
        border-top: 2px solid white;
        .new-subject-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
            width: 100%;
            height: fit-content;
            margin: 10px;
            padding: 10px 5px;
            background: #ffffffa2;
            border: 1px dashed #1F3C88;
            color: #1F3C88;
            font-size: 18px;
            font-family: inherit;
            p {
                width: 100%;
                text-align: center;
            }
            &:hover {
                background: #ffffff;
            }
        }
        .form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;
            width: inherit;
            label {
                font-family: inherit;
                font-size: 14px;
            }
        }
    }
}

.subject {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-shadow: none;
    border-top: 1px solid #1F3C88;
    &:hover {
        .buttons {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }
    h1 {
        padding: 10px;
        font-family: inherit;
        font-size: 20px;
        text-wrap: wrap;
        text-align: center;
        color: #070D59;
    }
    .subject-title {
        width: 150px;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        opacity: 0;
        transition: opacity 0.3s;
        justify-content: center;
        gap: 6px;
        .delete-button {
            background: none;
            width: fit-content;
            padding: 0;
            margin: 0;
            margin-right: 14px;
            svg {
                fill: #7a0000;
                &:hover {
                    fill: #f70000;
                    cursor: pointer;
                }
            }
        }
        .edit-button {
            background: none;
            width: fit-content;
            padding: 0;
            margin: 0;
            svg {
                fill: #058432;
                &:hover {
                    fill: #36e047;
                    cursor: pointer;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}