.project {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: none;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: right;
    box-sizing: border-box;
    .navigation-bar {
        display: flex;
        flex-direction: row;
        background: #CEDDEF;
        .projects-path {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #CEDDEF;
            width: 100%;
            height: fit-content;
            padding: 6px 4px 6px;
            margin: 0;
            gap: 8px;
            font-weight: bold;
            position: sticky;
            top: 0;
            z-index: 100;
            right: 0;
            .slash {
                opacity: 1;
                font-size: 20px;
                padding: 0;
                margin: 0;
                height: fit-content;
                &:last-child {
                    opacity: 0;
                }
            }
            button {
                padding: 0;
                margin: 0;
                border-radius: 0;
                background: none;
                color: #070D59;
                height: fit-content;
                font-size: 18px;
                &:hover {
                    color: #5893D4;
                    cursor: pointer;
                    background: none;
                }
            }
        }
        .exit-button {
            display: flex;
            background: #CEDDEF;
            width: fit-content;
            height: 100%;
            padding: 4px;
            margin: 0;
            justify-content: center;
            align-items: center;
            svg {
                fill: #1F3C88;
            }
            &:hover {
                svg {
                    fill: #070D59;
                }
                cursor: pointer;
            }
        }
    }
    .project-container {
        padding: 0;
        margin: 0;
        .project-header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: fit-content;
            gap: 0;
            padding: 10px;
            .project-title {
                display: flex;
                flex-direction: row;
                &:hover {
                    .edit-button {
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
                h1 {
                    font-size: 26px;
                    color: #1F3C88;
                    margin: 0;
                }
                .edit-button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    margin: 0;
                    width: fit-content;
                    height: fit-content;
                    padding: 6px 10px;
                    border-radius: 4px;
                    opacity: 0;
                    transition: 0.3s;
                    svg {
                        fill: #5893D4;
                    }
                    p {
                        font-family: inherit;
                        font-size: 16px;
                        font-weight: bold;
                        color: #5893D4;
                    }
                    &:hover {
                        svg {
                            fill: #1F3C88;
                        }
                        p {
                            color: #1F3C88;
                        }
                        cursor: pointer;
                    }
                }
            }
            .buttons {
                display: flex;
                align-items: center;
                .shared-emails-button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    width: fit-content;
                    height: 32px;
                    padding: 6px 10px;
                    border-radius: 4px;
                    text-decoration: none;
                    color: #1F3C88;
                    background: #6aff83;
                    font-weight: bold;
                    font-size: 14px;
                    font-family: inherit;
                    margin: 8px;
                    &:disabled {
                        background: #5c8c64;
                        &:hover {
                            color: #1F3C88;
                            background: #5c8c64;
                            cursor: pointer;
                        }
                    }
                    p {
                        margin: 0;
                    }
                    &:hover {
                        color: #070D59;
                        background: #1bff56;
                        cursor: pointer;
                    }
                }
                .protocol-link {
                    width: fit-content;
                    height: 32px;
                    padding: 6px 10px;
                    box-sizing: border-box;
                    border-radius: 4px;
                    text-decoration: none;
                    color: #1F3C88;
                    background: #FFDE7D;
                    font-weight: bold;
                    font-size: 14px;
                    font-family: inherit;
                    margin: 8px;
                    &:hover {
                        color: #070D59;
                        background: #fdcf45;
                        cursor: pointer;
                    }
                }
            }
        }
        .content {
            display: flex;
            flex-direction: row;
        }
        
        h2 {
            color: #5893D4;
            padding: 0;
            margin: 0;
            font-family: inherit;
            font-size: 20px;
            font-weight: normal;
            width: fit-content;
        }
        .sub-projects-container {
            width: 380px;
            max-height: calc(100vh - 238px);
            overflow-x: hidden;
            overflow-y: auto;
            h1 {
                width: 100%;
                text-align: center;
            }
            .sub-projects {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

