.main-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow-y: auto;
    width: 100%;
    padding: 0px;
}

.projects-container {
    background: #ffffff;
    overflow: auto;
    padding: 0;
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    .projects-header {
        box-sizing: border-box;
        box-shadow: -1px 1px 8px 0.5px #1F3C88;
        border-bottom: 1px solid #070D59;
        font-size: 24px;
        font-weight: 450;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #ffffff;
        background: #5893D4;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .create-project-button {
        background: none;
        border: none;
        color: #1F3C88;
        display: flex;
        gap: 4px;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: flex-start;
        padding-right: 20px;
        font-size: 16px;
        transition: 0.3s;
        &:hover {
            &:not(:disabled) {
                color: #070D59;
                cursor: pointer;
                font-size: 20px;    
            }
        }
        &:disabled {
            color: #ffffff;
            background: #9b9b9b;
        }
    }
    .projects {
        display: flex;
        gap: 25px;
        padding: 20px;
        flex-wrap: wrap;
        height: calc(100% - 130px);
        overflow-y: auto;
        h1 {
            margin: 0px;
            color: #1F3C88;
            font-weight: 400;
            font-size: 20px;
            text-align: right;
            width: fit-content;
        }
        .project-tile {
            inline-size: 150px;
            display: flex;
            z-index: 1;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
            background: #e4e4e4;
            border: 1px solid #9b9b9b;
            justify-content: space-between;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
            width: fit-content;
            height: fit-content;
            min-width: 230px;
            min-height: 230px;
            position: relative;
            align-items: center;
            border-radius: 8px;
            box-sizing: border-box;
            transition: transform 0.35s;
            .shared-icon {
                position: absolute;
                left: 4px;
                top: 4px;
                svg {
                    fill: #1F3C88;
                }
            }
            .project-details {
                display: flex;
                flex-direction: column;
                width: 200px;
                h1 {
                    margin: 0;
                    padding: 0;
                    color: #1F3C88;
                    font-weight: 450;
                    font-size: 20px;
                    text-align: right;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                h2 {
                    margin: 0;
                    padding: 0;
                    color: #5893D4;
                    font-weight: 400;
                    font-size: 20px;
                    text-align: right;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
            button {
                opacity: 0;
                background: none;
                transition: opacity 0.35s;
                &:hover {
                    background: none;
                }
            }
            &:hover {
                transform: scale(1.03);
                background: #ffffff;
                button {
                    opacity: 1;
                }
            }
            .open-button {
                opacity: 1;
                position: absolute;
                top: calc(50% - 30px);
                width: 100px;
                height: 60px;
                background: none;
                svg {
                    fill: #5893D4;
                }
                &:hover {
                    background: none;
                    svg {
                        fill: #1F3C88;
                    }
                }
            }
            .delete-button {
                position: absolute;
                bottom: 10px;
                left: 10px;
                background: none;
                svg {
                    fill: #8F384D;
                }
                &:hover {
                    background: none;
                    svg {
                        fill: #ca1010;
                    }
                }
            }
            .edit-button {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background: none;
                display: flex;
                gap: 4px;
                align-items: center;
                svg {
                    fill: #00c445;
                }
                &:hover {
                    background: none;
                    svg{
                        fill: #1fff6d;
                    }
                }
            }
        }
    }
}



.confirmation-popup {
    .confirmation-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

.delete-project-confirmation-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    p {
        text-align: center;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        button {
            border: none;
            color: 1F3C88;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px;
            border-radius: 3px;
            width: fit-content;
            &:nth-of-type(1) {
                background: #F6416C;
                color: white;
                &:hover {
                    background: #8F384D;
                }
            }
            &:nth-of-type(2) {
                background: #EEEDED;
            }
            &:hover {
                background: #5893D4;
                cursor: pointer;
            }
        }
    }
}

.companies-container {
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    background: #5893D4;
    padding: 0;
    width: 260px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    .companies-header {
        box-sizing: border-box;
        box-shadow: 1px 1px 8px 0.5px #1F3C88;
        border-bottom: 1px solid #070D59;
        // border-left: 1px solid #ffffff;
        font-size: 24px;
        font-weight: 450;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #ffffff;
        background: #5893D4;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .create-company-button {
        background: none;
        border: none;
        color: #ffffff;
        display: flex;
        gap: 4px;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        transition: 0.3s;
        &:hover {
            &:not(:disabled) {
                color: #070D59;
                cursor: pointer;
                font-size: 20px;
            }
        }
        &:disabled {
            background: #9b9b9b;
            color: #ffffff
        }
    }
    .companies {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        direction: rtl;
        height: calc(100vh - 150px);
        overflow-y: auto;
        direction: ltr;
        .all-projects-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            margin: 0;
            padding: 4px 10px;
            background: none;
            width: 100%;
            color: #070D59;
            direction: rtl;
            border-bottom: 1px solid #ffffff77;
            transition: 0.3s;
            h1 {
                font-size: 18px;
                font-weight: normal;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-wrap: nowrap;
                direction: rtl;
                transition: 0.3s;
            }
            &:hover {
                background: #ffffff77;
                h1 {
                    font-size: 20px;
                }
            }
            &.selected {
                background: #ffffff;
                h1 {
                    font-size: 20px;
                }
            }
        }
        .company {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            margin: 0;
            padding: 4px 10px;
            background: none;
            width: 100%;
            color: #070D59;
            direction: rtl;
            border-bottom: 1px solid #ffffff77;
            position: relative;
            transition: 0.3s;
            h1 {
                font-size: 18px;
                font-weight: normal;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-wrap: nowrap;
                direction: rtl;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                }
            }
            &:hover {
                background: #ffffff77;
                h1 {
                    font-size: 20px;
                }
                .buttons {
                    opacity: 1;
                    transition: 0.3s;
                }
            }
            &.selected {
                background: #ffffff;
                h1 {
                    font-size: 20px;
                }
            }
            .buttons {
                position: absolute;
                left: 4px;
                background: none;
                opacity: 0;
                transition: 0.3s;
                button {
                    background: none;
                }
            }
        }
    }
}

.no-access-message {
    box-sizing: border-box;
    margin: auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #f7ffdd;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px #20b7d5a2;
    p {
        font-size: 20px;
    }
}