.user-panel {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    background: #1F3C88;
    height: 60px;
    align-items: right;
    position: sticky;
    top: 0;
    z-index: 100;
    .app-logo {
        margin: 0px;
        color: #ffffff;
        font-weight: 400;
        font-size: 26px;
        text-align: right;
        margin-right: 4px;
        margin-left: 4px;
        text-decoration-line: none;
    }
    .info {
        display: flex;
        flex-direction: row;
        padding: 10px;
        gap: 10px;
        align-items: center;
    }
    button {
        background: #CEDDEF;
        border: none;
        color: 1F3C88;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px;
        border-radius: 3px;
        width: fit-content;
        &:hover {
            background: #5893D4;
            cursor: pointer;
        }
    }
    .contact-list-button {
        display: flex;
        flex-direction: row;
        gap: 6px;
        padding: 10px 10px;
        align-items: center;
        background: none;
        border: 1px solid white;
        border-radius: 4px;
        color: white;
        position: absolute;
        left: 26px;
        &.open {
            background: #070D59;
        }
        &:hover {
            background: none;
            color: #CEDDEF;
            svg {
                fill: #CEDDEF;
            }
        }
        svg {
            fill: #ffffff;
        }
    }
}

.login-panel {
    background: white;
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 50px;
        color: #1F3C88;
        margin: 0;
    }
    h2 {
        font-size: 25px;
        font-family: inherit;
        font-weight: normal;
        color: #1F3C88;
        margin: 0;
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }
    .login-button {
        font-family: inherit;
        font-weight: bold;
        background: #CEDDEF;
        border: none;
        color: #1F3C88;
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px;
        border-radius: 3px;
        width: fit-content;
        &:hover {
            background: #5893D4;
            cursor: pointer;
        }
    }
}

.display-name {
    color: white;
}