.main-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    max-height: calc(100vh - 100px);
    button {
        background: #CEDDEF;
        border: none;
        color: 1F3C88;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px;
        border-radius: 3px;
        width: fit-content;
        &:hover {
            background: #5893D4;
            cursor: pointer;
        }
    }
}




  
.contact h2 {
  margin: 4px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  margin-right: 4px;
  margin-left: 4px;
}

.email {
  margin: 8px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}

.project-details {
  justify-content: end;
}



