.form {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;
    overflow-y: visible;
    // padding-top: 10px;
    margin-top: 10px;
    border-right: 12px solid #0052b6;
    box-sizing: border-box;
    // margin: 0 5px 0 0;
    // padding: 0 5px 0 0;
    background: #0073ff30;
    .project-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .project-name {
            margin: 0;
            padding: 0;
            font-size: 32px;
            font-family: inherit;
            text-align: right;
        }
        .add-button {
            display: flex;
            align-items: center;
            width: fit-content;
            height: fit-content;
            padding: 0;
            margin: 0;
            background: none;
            border: none;
            color: #0072ff;
            z-index: 99;
            svg {
                fill: #0072ff;
            }
            &:hover {
                cursor: pointer;
                color: #0052b6;
                svg {
                    fill: #0052b6;
                }
            }
        }
    }
    .headers-container {
        position: relative;
        box-sizing: border-box;
        height: 20px;
        .headers {
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 220px 250px 180px 100px;
            width: fit-content;
            align-items: baseline;
            position: absolute;
            right: calc(50% - 374px);
            height: auto;
            z-index: 100;
            font-family: inherit;
            font-size: 20px;
            font-weight: bold;
            color: #070D59;
            &.attachment {
                right: calc(50% - 440px);
            }
            .collaborators-header {
                margin-right: 40px;
            }
            .deadline-header {
                margin-right: 50px;
            }
        }
    }
    .form-tasks {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow-y: visible;
        align-items: center;
        position: relative;
        width: inherit;
        .project-buttons {
            position: absolute;
            padding: 10px 4px;
            top: 26px;
            right: calc(50% - 600px);
            display: flex;
            flex-direction: column;
            gap: 4px;
            height: min-content;
            z-index: 100;
            background: white;
            border: 1px solid #0072ff;
            border-radius: 4px;
            box-shadow: 0.5px 0.5px 10px #0073ff77;
            .new-subject-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2px;
                width: fit-content;
                height: fit-content;
                background: none;
                border: none;
                color: #0072ff;
                font-size: 16px;
                font-family: inherit;
                border-radius: 4px;
                svg {
                    fill: #0072ff;
                }
                &:hover {
                    cursor: pointer;
                    color: #0052b6;
                    svg {
                        fill: #0052b6;
                    }
                }
            }
            .new-subproject-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2px;
                // width: 850px;
                width: fit-content;
                height: fit-content;
                // padding: 7px 5px;
                background: none;
                // background: #0072ff;
                // border: 1px dashed #1F3C88;
                border: none;
                color: #0072ff;
                // font-size: 24px;
                font-size: 16px;
                font-family: inherit;
                border-radius: 4px;
                svg {
                    fill: #0072ff;
                }
                &:hover {
                    cursor: pointer;
                    color: #0052b6;
                    svg {
                        fill: #0052b6;
                    }
                }
            }
            .delete-subproject-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2px;
                // width: 850px;
                width: fit-content;
                height: fit-content;
                // padding: 7px 5px;
                background: none;
                // background: #0072ff;
                // border: 1px dashed #1F3C88;
                border: none;
                color: #0072ff;
                // font-size: 24px;
                font-size: 16px;
                font-family: inherit;
                border-radius: 4px;
                svg {
                    fill: #0072ff;
                }
                &:hover {
                    cursor: pointer;
                    color: #0052b6;
                    svg {
                        fill: #0052b6;
                    }
                }
            }
            .edit-subproject-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2px;
                // width: 850px;
                width: fit-content;
                height: fit-content;
                // padding: 7px 5px;
                background: none;
                // background: #0072ff;
                // border: 1px dashed #1F3C88;
                border: none;
                color: #0072ff;
                // font-size: 24px;
                font-size: 16px;
                font-family: inherit;
                border-radius: 4px;
                svg {
                    fill: #0072ff;
                }
                &:hover {
                    cursor: pointer;
                    color: #0052b6;
                    svg {
                        fill: #0052b6;
                    }
                }
            }
        }
    }
    .form-sub-project {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        margin: 10px 0;
        // margin-top: 50px;
        padding: 0;
        gap: 4px;
        width: inherit;
        .sub-project {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            box-sizing: border-box;
            width: inherit;
            &:hover {
                .sub-project-buttons {
                    opacity: 1;
                    transition: 0.3s;
                }
            }
        }
    }
}


.p-subject {
    display: flex;
    flex-direction: row;
    // overflow: visible;
    // justify-items: stretch;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    box-sizing: border-box;
    .subject-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #CEDDEF;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        // margin: 10px;
        margin-left: 0;
        border: 2px solid #5C6E91;
        border-left: none;
        position: relative;
        width: 180px;
        box-sizing: border-box;
        &.attachment {
            background: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
            h1 {
                margin: 0;
            }
        }
        &:hover {
            .subject-buttons {
                opacity: 1;
                transition: 0.3s;
            }
        }
        h1 {
            font-size: 20px;
            color: #070D59;
            padding-right: 0;
        }
        .subject-buttons {
            position: absolute;
            bottom: 5px;
            opacity: 0;
            transition: 0.3s;
            .delete-button {
                background: none;
                border: none;
                width: fit-content;
                svg {
                    fill: #7a0000;
                    &:hover {
                        fill: #f70000;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .edit-button {
                background: none;
                border: none;
                width: fit-content;
                svg {
                    fill: #058432;
                    &:hover {
                        fill: #36e047;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .new-task-button {
                background: none;
                border: none;
                width: fit-content;
                svg {
                    fill: #5893D4;
                    &:hover {
                        fill: #1F3C88;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

