.p-tasks {
    .p-tasks-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        .new-task-button {
            background: none;
            border: 2px dashed #5C6E91;
            width: 850px;
            height: 96px;
            font-size: 30px;
            font-family: inherit;
            margin: 10px;
            &:hover {
                cursor: pointer;
                background-color: #ffffff77;
            }
        }
    }
    display: flex;
    background: #EEEDED;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    margin: 10px;
    margin-right: 0;
    border: 2px solid #5C6E91;
    border-right: 1px solid #5C6E91;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: visible;

    .p-task {
        display: flex;
        flex-direction: column;
        overflow: visible;
        justify-content: center;
        align-items: center;
        &:focus-within {
            background: #ffffff;
            transition: 0.35s;
        }
        &:not(:last-child)
        {
            border-bottom: 2px solid #5C6E91;
        }
        .task-title {
            padding: 10px;
        }
        .task-collaborators {
            padding: 10px;
        }
        .set-deadline {
            padding: 10px;
        }
        .task-status {
            padding: 10px;
        }
    }
}