.protocol-task {
    display: grid;
    grid-template-columns: 260px 260px 180px 150px 100px;
    width: 100%;
    align-items: start;
    border-collapse: collapse;
    transition: 0.35s;
    &.attachment {
        grid-template-columns: 240px 200px 100px 100px;
    }
    &:hover {
        .buttons {
            opacity: 1;
        }
    }
    .buttons {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
        .delete-button {
            background: none;
            width: fit-content;
            border: none;
            svg {
                fill: #7a0000;
                &:hover {
                    fill: #f70000;
                    cursor: pointer;
                }
            }
        }
        .image-upload {
            display: flex;
            flex-direction: row;
            align-items: center;
            svg {
                fill: #1F3C88;
            }
            background: none;
            color: white;
            padding: 0;
            font-family: sans-serif;
            border-radius: 0.3rem;
            cursor: pointer;
            height: fit-content;
            width: fit-content;
            h1 {
                text-align: center;
                font-size: 14px;
                color: #1F3C88;
            }
        }
    }
    .task-title {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-items: center;
        padding: 0 10px;
        gap: 3px;
        border-left: 1px solid #1F3C88;
        height: 100%;
        &.attachment {
            border: none;
        }
        .title-input {
            font-size: 16px !important;
            background: none;
            width: auto;
            font-family: Segoe UI;
        }
    }
    .collaborators-selection {
        border-left: 1px solid #1F3C88;
        height: 100%;
    }
    .task-collaborators {
        padding: 4px 10px;
        gap: none;
        button {
            color: #5C6E91;
            background: none;
            border: none;
            &:hover {
                cursor: pointer;
            }
        }
        .contact {
            background: none;
            border-bottom: none;
            height: fit-content;
            width: fit-content;
            h1 {
                font-size: 12px;
                padding: none;
                color: #1F3C88;
                margin-block-start: 0;
                margin-block-end: 0;
                &:hover {
                    color: #F6416C;
                    cursor: pointer;
                }
            }
        }
        .collaborators-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .set-deadline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #1F3C88;
        height: 100%;
        &.attachment {
            padding: 4px 10px;
            border: none;
        }
    }

    .task-status {
        padding: 0;
        margin: 0;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-items: center;
        gap: 10px;
        align-items: center;
        justify-content: center;
        &.attachment {
            border: none;
        }
        h3 {
            text-align: center;
            font-size: 14px;
            color: red;
        }
        h4 {
            text-align: center;
            font-size: 14px;
            color: green;
        }
    }
    
}




.datepicker-wrapper {
    grid-column: 5/10;
    grid-row: 2/4;
    input {
        width: 115px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding: none;
        margin: none;
        color: #1F3C88;
        text-align: left;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #5893D4;
        overflow: visible;
        &:focus {
            outline: none;
        }
    }
}
  