.p-tasks {
    margin: 0;
    padding: 0;
    .p-tasks-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        .arrow {
            position: absolute;
            bottom: 10px;
            right: -10px;
            svg {
                fill: #CEDDEF;
            }
        }
        .new-task-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;
            // width: 850px;
            width: fit-content;
            height: fit-content;
            margin: 6px 14px;
            padding: 7px 5px;
            background: none;
            // background: #0072ff;
            // border: 1px dashed #1F3C88;
            border: none;
            color: #0072ff;
            // font-size: 24px;
            font-size: 16px;
            font-family: inherit;
            border-radius: 4px;
            svg {
                fill: #0072ff;
            }
            &:hover {
                cursor: pointer;
                color: #0052b6;
                svg {
                    fill: #0052b6;
                }
            }
        }
    }
    display: flex;
    background: #ffffff;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    // margin: 10px;
    margin-right: 0;
    border: 2px solid #5C6E91;
    border-right: 1px solid #5C6E91;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: visible;
    &.attachment {
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    }
    .p-task {
        display: flex;
        flex-direction: column;
        overflow: visible;
        justify-content: center;
        align-items: center;
        .image {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-top: 1px solid #1F3C88;
            width: 100%;
        }
        &:focus-within {
            // background: #ffffff;
            box-shadow: 0 0 4px 1px #0072ff inset;
            transition: 0.35s;
        }
        &:not(:last-child)
        {
            border-bottom: 1px solid #5C6E91;
        }
    }
}